html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }

aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background: dodgerblue; }
  aside:last-child {
    margin-right: 0; }

main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  background: #ccc; }
  main:last-child {
    margin-right: 0; }

input {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  font-size: 20px;
  border: 3px dashed pink;
  background: #fff;
  width: 500px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  outline: none; }
  input:last-child {
    margin-right: 0; }

#postBtn {
  width: 80px; }
